//--------------------------------------------------------------
// Main Navigation — Desktop.
//--------------------------------------------------------------
.main-navigation {
	display: none;

	@include media($tablet-landscape) {
		display: block;
	}

	// Menu area
	ul {
		display: none;

		@include media($phone) {
			display: block;
			float: right;
		}

		li {
			margin: 0 rem(10) 0 0;

			a {
				color: $color-black;
				display: inline-block;
				padding: 8px 27px;
				font-weight: 700;
				text-decoration: none;
				text-transform: uppercase;
			}

			&.cta a {
				background-color: $color-blue;
				color: #fff;
				border-radius: 5px;
				padding: 5px 11px;
			}
		}

	}

	// ul

	&.toggled ul {
		display: block;
	}

	// &.toggled ul
}

// .main-navigation

//-----------------------------------------
// Dropdown.
//-----------------------------------------
.dropdown {
	position: relative;

	// Sub-menu
	ul {
		@include position(absolute, rem(24) null null -999em);

		box-shadow: 0 rem(3) rem(3) $color-box-shadow;
		float: left;
		z-index: 99999;

		// Sub-sub menu
		ul {
			left: -999em;
			top: 0;
		}

		// ul

		// Sub-menu items
		li {
			width: 100%;

			&:hover>ul,
			&.focus>ul {
				left: 100%;
			}

			// &:hover > ul, &.focus > ul
		}

		// li

		// Sub-menu links
		a {
			@include size(100% auto);

			min-width: rem(200);
		}

		// a
	}

	// ul

	// Display sub-menu on hover
	li:hover>ul,
	.focus>ul {
		left: auto;
	}

	// li:hover > ul, .focus > ul

	// Menu items
	li {
		float: left;
		position: relative;
	}

	// li
}

// &.dropdown
