//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------

.site-footer {
	background: $color-black;
	padding: 50px auto;
	color: $color-white;

	.site-info {
		text-align: center;

		@include media($tablet-landscape) {
			display: flex;
			justify-content: space-between;
		}

		.site-copyright {
			line-height: 17px;

			@include media($tablet-landscape) {
				display: flex;
				color: $color-white;
				align-items: center;
			}

			.footer-navigation {
				.menu {
					display: flex;
					justify-content: space-evenly;
					margin: 10px auto;

					@include media($tablet-landscape) {
						margin: auto;
					}

					li {
						display: flex;
						padding: 0 5px;

						a {
							color: $color-white;
							text-decoration: underline;
							font-size: 16px;

							padding: 0 5px;

							@include media($tablet-landscape) {
								border-left: 2px solid $color-white;
							}

							&:hover {
								color: $color-white;
							}
						}
					}
				}
			}
		}
	}

	// .site-info


}
