//--------------------------------------------------------------
// Forms
//--------------------------------------------------------------

button,
input,
select,
textarea {
	font-size: 100%; // Corrects font size not being inherited in all browsers
	margin: 0; // Addresses margins set differently in IE6/7, F3/4, S5, Chrome
	vertical-align: baseline; // Improves appearance and consistency in all browsers
}

// button, input, select, textarea

// Addresses excess padding in IE8/9
input[type='checkbox'],
input[type='radio'] {
	padding: 0;
}

// input[type="checkbox"], input[type="radio"]

// Remove the clear x icon in IE
input[type='text']::-ms-clear,
input[type='search']::-ms-clear {
	display: none;
}

// input[type="text"]::-ms-clear, input[type="search"]::-ms-clear

input[type='search'] {
	-webkit-appearance: textfield; // Addresses appearance set to searchfield in S5, Chrome
	box-sizing: content-box;

	// Corrects inner padding displayed oddly in S5, Chrome on OSX
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	// &::-webkit-search-decoration
}

// input[type="search"]

// Corrects inner padding and border displayed oddly in FF3/4
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

// button::-moz-focus-inner, input::-moz-focus-inner

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select,
textarea {
	appearance: none;
	border: 1px solid $color-border-input;
	border-radius: 0;
	color: $color-text-input;
	line-height: 1.5;
	padding: rem(6);

	&:focus {
		color: $color-focus-text-input;
	}

	// &:focus
}

// input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea

textarea {
	@include size(100% auto);

	overflow: auto; // Removes default vertical scrollbar in IE6/7/8/9
	vertical-align: top; // Improves readability and alignment in all browsers
}

// textarea
.gravit-form {
	.the-form {
		.gform_wrapper {
			background: transparent !important;

			input[type='text'],
			input[type='email'],
			input[type='url'],
			input[type='password'],
			input[type='search'],
			input[type='number'],
			input[type='tel'],
			input[type='range'],
			input[type='date'],
			input[type='month'],
			input[type='week'],
			input[type='time'],
			input[type='datetime'],
			input[type='datetime-local'],
			input[type='color'],
			select,
			textarea {
				width: 100% !important;
				background-color: $color-white;
				line-height: 29px;
				color: #000;
				padding: 12px 22px;
				height: 55px;
				outline: none;
				border: 1px solid #ccc;
				border-radius: 5px;

			}

			.gform_fields .gfield textarea {
				height: 160px;
			}

			.gform_body .gform_fields .gfield select {
				width: 100% !important;
			}

			input[type="button"]:hover,
			input[type="button"]:active,
			input[type="button"]:focus,
			input[type="submit"]:hover,
			input[type="submit"]:active,
			input[type="submit"]:focus {
				background-color: $color-light-blue;
				color: $color-white;
			}

			input[type="button"],
			input[type="submit"] {
				cursor: pointer;
				border-radius: 5px;
				background-color: $color-blue;
				color: $color-white;
				text-transform: uppercase;
				text-align: center;
				color: $color-white;
			}

			.gform_fields .gfield ul.gfield_radio,
			.gform_fields .gfield ul.gfield_checkbox {
				background-color: $color-whitesmoke;
				border: 1px solid $color-whitesmoke;
				padding: 30px 48px;
				margin-bottom: 0;
			}

			.gform_fields .gfield ul.gfield_radio li,
			.gform_fields .gfield ul.gfield_checkbox li {
				margin-bottom: 12px;
				padding-left: 0;
			}

			ul.gfield_checkbox li input[type=checkbox],
			ul.gfield_radio li input[type=radio] {
				width: 22px !important;
				height: 22px;
				margin: 0 6px 2px 0;
				cursor: pointer;
			}

			li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
			.gform_wrapper li.gfield_error textarea {
				border: 1px solid $color-blue;
			}

			li.gfield.gfield_error,
			li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
				background-color: $color-white;
				border-top: none;
				border-bottom: none;
			}

			.gfield_error .gfield_label,
			li.gfield_error ul.gfield_checkbox {
				color: #000;
			}

			.validation_message {
				display: none;
			}

			div.validation_error {
				color: $color-blue;
				border-top: none;
				border-bottom: none;
			}

			.gfield_required {
				color: $color-blue;
				margin-left: 4px;
			}
		}

	}
}
