//--------------------------------------------------------------
// Call To Action Block
//--------------------------------------------------------------
.call-to-action {
	padding: 40px 0;

	// Set up structure.
	.grid-x {
		padding: $gutter;
		text-align: center;

		@include media($tablet-portrait) {
			align-items: center;
			display: flex;
			justify-content: center;
			text-align: left;
		}

		.cell {
			display: flex;
			justify-content: center;
		}
	}

	// .grid-x
}

// .call-to-action
