.logos {
	color: $color-black;

	.company-logo {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.covering-image {
			width: 35%;
			margin-bottom: 10px;
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: center;
			margin: 20px auto;

			@include media($tablet-portrait) {
				width: 25%;
				margin: 0;
			}
		}
	}
}
