//--------------------------------------------------------------
// Global Content Block Styles
//--------------------------------------------------------------
.content-block {

	// Content Block titles.
	&-title {
		text-align: center;

		@include media($tablet-portrait) {
			text-align: left;
		}
	} // .content-block-title

	// Make sure videos stay in their containers.
	&.video-as-background {
		overflow: hidden;
		position: relative;
	} // &.video-as-background
} // .content-block
