//--------------------------------------------------------------
// Hero Block
//--------------------------------------------------------------
.hero {
	margin-bottom: 0;
	overflow-y: hidden;
	position: relative;
	z-index: 1;
	padding: 40px 0;


	// Transparent overlay.
	&::after {
		@include position(absolute, 0 0 null null);
		@include size(100%);

		background-color: $color-overlay;
		content: '';
		z-index: 2;
		background: rgba(255, 255, 255, 0.75);
	}

	// &:after

	// Content container.
	&-content {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		position: relative;
		text-align: center;
		z-index: 3;

		@include media($tablet-portrait) {
			height: rem(500);
		}
	}

	&-title {
		color: $color-blue;

		@include media($tablet-portrait) {}

	}

	&-description {
		color: $color-black;
		max-width: 900px;

	}

	// .hero-content

	// Add padding to description.
	&-description {
		padding-bottom: $gutter * 2;
	}

	// .hero-description

	// Remove any text decoration.
	.button-hero {
		text-decoration: none;
	}

	// a.button-hero
}

// .hero

//-----------------------------------------
// IE Fixes
//-----------------------------------------
.ie .hero {

	// IE seems to have some width issues with flexbox,
	// the text is rendered wider than its container
	// and doesn't wrap. This fixes that.
	.hero-title,
	.hero-description {
		width: 100%;
	}

	// .hero-title, .hero-description
}

// .ie .hero
