.results{
    .result-content{
        padding: 30px;
        .result-heading{
            font-size: 50px;
        }
        .results-information{
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}