.august-services {
	.profile {
		display: block;

		@include media($tablet-landscape) {
			display: flex;
			align-items: center;
			padding: 0;
		}

		.services {
			@include media($tablet-landscape) {
				@include span-columns(8);

			}

			.page-header-inner {
				padding: 40px 0;

				h2 {

					margin-bottom: 0;
				}

				ul {
					list-style: url(assets/images/bullet.png);
					font-size: 14px;
					line-height: 23px;
					margin-top: 19px;
					margin-left: 0;

					li {
						margin-bottom: 10px;
						padding-left: 3px;
						font-family: $font-roboto;
						font-weight: 400;
						font-style: normal;

						@include media($tablet-landscape) {
							font-size: 20px;
						}
					}
				}
			}

		}

		.covering-image {
			display: flex;
			justify-content: center;
			align-items: center;

			@include media($tablet-landscape) {
				@include span-columns(4);
				display: flex;
			}

		}
	}
}
