.testimonials {
	.cleints-testimony {
		padding: 30px 20px;

		.testimonial {
			margin-bottom: 60px;
			display: flex;
			flex-direction: column;

			@include media($tablet-portrait) {
				display: block;
			}

			.name {
				margin-bottom: 2px;
				font-size: 24px;
				line-height: 34px;
				color: $color-blue;
			}

			.business-info {
				font-size: 16px;
				line-height: 26px;
				font-weight: 400;
			}


			.review {
				display: flex;
				flex-direction: column;

				.client-img {
					@include span-columns(12);

					@include media($tablet-portrait) {
						display: block;
						@include span-columns(4);
					}

					img {
						margin: 0 auto 32px;
						border-radius: 50%;
						display: block;

						@include media($tablet-portrait) {
							margin: 0;
						}
					}
				}

				.testimony {
					padding: 26px 20px 24px;
					font-size: 14px;
					position: relative;
					background-color: $color-whitesmoke;
					@include span-columns(12);

					@include media($tablet-portrait) {
						@include span-columns(8);
						font-size: 18px;
					}
				}
			}


		}



		.client-review {

			&-odd {

				.business-info,
				.name {
					text-align: center;

					@include media($tablet-portrait) {
						text-align: justify;
					}
				}

				.review {
					@include media($tablet-portrait) {
						align-items: center;
						flex-direction: row;
					}

					.testimony {
						&::before {
							border-style: solid;
							content: "";
							position: absolute;
							border-color: transparent transparent $color-whitesmoke transparent;
							border-width: 0 16px 16px 16px;
							margin: 0 0 -1px -16px;
							bottom: 100%;
							left: 50%;
							right: auto;
							top: auto;
						}

						@include media($tablet-portrait) {
							&::before {
								content: "";
								top: 30px;
								margin-right: -1px;
								right: 100%;
								border-color: transparent $color-whitesmoke transparent transparent;
								border-width: 23px 23px 23px 0;
								left: -10%;
							}
						}
					}
				}
			}

			&-even {

				.business-info,
				.name {
					text-align: center;

					@include media($tablet-portrait) {
						text-align: right;
					}
				}

				.review {
					@include media($tablet-portrait) {
						flex-direction: row-reverse;
						justify-content: space-between;
					}

					.client-img {
						img {
							@include media($tablet-portrait) {
								float: right;
							}
						}
					}

					.testimony {
						&::before {
							border-style: solid;
							content: "";
							position: absolute;
							border-color: transparent transparent $color-whitesmoke transparent;
							border-width: 0 16px 16px 16px;
							margin: 0 0 -1px -16px;
							bottom: 100%;
							left: 50%;
							right: auto;
							top: auto;
						}

						@include media($tablet-portrait) {
							&::before {
								content: "";
								top: 30px;
								margin-left: -1px;
								left: 100%;
								border-color: transparent transparent transparent $color-whitesmoke;
								border-width: 23px 0 23px 23px;
							}
						}
					}
				}

			}
		}
	}
}
