//--------------------------------------------------------------
// Homepage Template
//--------------------------------------------------------------
.archive,
.blog {
	background: $color-whitesmoke;

	.articles-flex {
		margin: 0 auto;
		display: flex;
		align-items: stretch;
		flex-direction: column;

		@include media($tablet-portrait) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
		}

		article {
			width: 100%;
			margin: 10px 1.5%;
			background: $color-white;
			display: flex;
			flex-direction: column;

			@include media($tablet-landscape) {
				width: 30%;
			}

			@include media($tablet-portrait) {
				width: 47%;
			}

			.read-more {
				display: flex;
				justify-content: center;
				padding: 20px;
				margin-top: auto;
			}
		}
	}
}


.newsletter-signup {
	background-color: $color-whitesmoke;
	text-align: center;

	.gform_wrapper {
		background: transparent !important;

		input[type=text] {
			margin-bottom: 0 !important;
			width: 100% !important;
			padding: 12px 26px !important;
			outline: none;
			background-color: $color-whitesmoke;
			border-color: #ccc;
			border-style: solid;
			border-radius: 5px;
			border-width: 1px;
			font-size: 21px;
			line-height: 32px;
		}
	}

	.gf_simple_horizontal_wrapper li.hidden_label input {
		margin-top: 0 !important;
	}

	.gf_simple_horizontal_wrapper .top_label div.ginput_container {
		margin-top: 0 !important;
	}

	.gf_simple_horizontal div.gform_footer.top_label {
		width: auto !important;
		vertical-align: top !important;
	}

	.gf_simple_horizontal div.gform_body {
		width: 100% !important;
	}

	.gf_simple_horizontal div.gform_footer.top_label input[type="submit"] {
		padding: 13px 29px;
		-webkit-appearance: none;
		cursor: pointer;
		background-color: $color-blue;
		border-radius: 5px;
		font-size: 20px;
		line-height: 32px;
		color: $color-white;
		text-transform: uppercase;
		text-align: center;
	}
}
