.single {
	background: $color-white;

	.entry-content {
		padding: 0;

		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				padding-left: 20px;
				position: relative;
			}

			li:before {
				width: 8px;
				height: 8px;
				display: block;
				content: "";
				background-color: $color-blue;
				border-radius: 50%;
				position: absolute;
				top: 11px;
				left: 0;
			}
		}
	}

}
