//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------

a {
	text-decoration: none;
	color: $color-link;
	opacity: 1;
	transition: $transition-opacity;

	&:visited {
		//color: $color-link-visited;
	} // &:visited

	&:hover,
	&:active {
		color: $color-link-hover;
		opacity: 0.6;
	} // &:hover, &:active

	&:focus {
		color: $color-link-focus;
	} //  &:focus
} // a
