//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

body,
button,
input,
select,
textarea {
	color: $color-text-main;
	font-family: $font-sans;
	line-height: $line-height-body;
}

// body, button, input, select, textarea

//--------------------------------------------------------------
// Headers
//--------------------------------------------------------------

// Global Header Resets.
@for $i from 1 through 6 {
	h#{$i} {
		margin-top: 0;
	}

	// h#{$i}
}

// end @for

h1,
.h1 {
	font-size: 26px;
	padding: 30px auto;
	font-family: $font-sans;
	font-weight: 800;

	@include media($tablet-portrait) {
		font-size: 56px;
	}

}

// h1, .h1

h2,
.h2 {
	font-family: $font-sans;
	margin-bottom: 36px;
	font-size: 20px;
	font-weight: 800;
	font-style: normal;
	line-height: normal;

	@include media($tablet-portrait) {
		font-size: 36px;
	}
}

// h2, .h2

h3,
.h3 {
	font-size: 14px;
	line-height: normal;

	@include media($tablet-portrait) {
		font-size: 26px;
	}
}

// h3, .h3

h4,
.h4 {
	margin-top: 5px;
	font-size: 16px;
	font-weight: 700;

	@include media($tablet-portrait) {
		font-size: 26px;
	}
}

// h4, .h4

h5,
.h5 {}

// h5, .h5

h6,
.h6 {}

// h6, .h6

//--------------------------------------------------------------
// Copy
//--------------------------------------------------------------

p {
	margin: 0 0 rem(24) 0;
	color: #26282D;
	font-size: 20px;
	font-family: $font-roboto;
}

// p

b,
strong {
	font-weight: 700;
}

// b, strong

dfn,
cite,
em,
i {
	font-style: italic;
}

// dfn, cite, em, i

blockquote,
q {
	margin: 0 rem(24);
	quotes: '" "';

	&::before,
	&::after {
		content: '';
	}

	// &::before, &::after
}

// blockquote, q

blockquote {
	border-left: 4px solid $color-cod-gray;
	font-style: italic;
	margin-left: 0;
	padding-left: rem(20);

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

address {
	margin: 0 0 rem(24) 0;
}

// address

pre {
	background-color: $color-background-pre;
	border: 1px solid $color-border-pre;
	color: $color-text-pre;
	font-family: $font-pre;
	font-size: rem(13);
	line-height: $line-height-pre;
	margin: 0 0 rem(24);
	overflow: auto;
	padding: rem(24);
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
}

// pre

code,
kbd,
tt,
var {
	font-family: $font-code;
	font-size: rem(15);
}

// code, kbd, tt, var

kbd {
	background-color: $color-whitesmoke;
	border: 1px solid $color-silver;
	border-radius: rem(4);
	box-shadow: 0 rem(1) 0 rgba($color-black, 0.2), 0 0 0 rem(2) $color-white inset;
	display: inline-block;
	margin: 0 rem(3);
	padding: rem(2) rem(8);
}

code {
	background-color: $color-gallery;
	color: $color-tundora;
	padding: rem(2) rem(4);
}

abbr {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
}

// abbr

mark,
ins {
	text-decoration: none;
}

// mark, ins

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

// sup, sub

sup {
	bottom: 1ex;
}

// sup

sub {
	top: 0.5ex;
}

// sub

small {
	font-size: 75%;
}

// small

big {
	font-size: 125%;
}

// big

// Word Wrapping
.entry-title,
.entry-content,
.comments-title,
.comment-content,
.widget-title,
.widget {
	@include word-break;
}

// .entry-title, .entry-content, .comments-title, .comment-content, .widget-title, .widget

.heading {
	padding: 35px;

	@include media($tablet-landscape) {
		padding: 70px auto;
	}
}
