//--------------------------------------------------------------
//   COLOR VARIABLES
//     - Primary Colors
//     - Grayscale Colors
//     - Social Meida Colors
//   ELEMENTS & SKINNING
//     - General
//     - Accessibility
//     - Links
//     - Forms
//     - Buttons
//     - Tables
//     - Modals
//     - Icons
//     - Comments
//     - WP/Gutenberg Blocks
//     - Navigation
//     - Scaffolding
//     - Sass Map for Theme Colors
//     - Sass Map for Social Media Colors
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

// sass-lint:disable no-color-keywords

//--------------------------------------------------------------
// COLOR VARIABLES
//--------------------------------------------------------------

//-----------------------------------------
// Primary Colors
//-----------------------------------------
$color-black: #45484c;
$color-light-yellow: #fff9c0;
$color-white: #fff;
$color-blue: #0073b1;
$color-light-blue: #559ad1;

//-----------------------------------------
// Grayscale Colors
//-----------------------------------------
$color-alto: #ddd;
$color-cod-gray: #111;
$color-dove-gray: #666;
$color-gallery: #eee;
$color-gray-alt: #929292;
$color-gray: #808080;
$color-mineshaft: #333;
$color-silver-chalice: #aaa;
$color-silver: #ccc;
$color-tundora: #454545;
$color-whitesmoke: #f8fcff;

//-----------------------------------------
// Social Media Colors
//-----------------------------------------
// $color-facebook:  #3b5998;
// $color-instagram: #517fa4;
// $color-linkedin:  #007bb6;
// $color-pinterest: #cb2027;
// $color-rss:       #f90;
// $color-twitter:   #00aced;
// $color-youtube:   #b00;

$color-facebook: $color-white;
$color-instagram: $color-white;
$color-linkedin: $color-white;
$color-pinterest: $color-white;
$color-rss: $color-white;
$color-twitter: $color-white;
$color-youtube: $color-white;

//--------------------------------------------------------------
// ELEMENTS & SKINNING
//--------------------------------------------------------------

//-----------------------------------------
// General
//-----------------------------------------

/// Background color.
$color-background-body: $color-white;

/// Main text color.
$color-text-main: $color-black;

/// Pre Background color.
$color-background-pre: $color-whitesmoke;

/// Pre Border color.
$color-border-pre: $color-silver;

/// Pre text color.
$color-text-pre: $color-gray;

/// Code background color.
$color-background-code: $color-alto;

/// Horizontal Rule.
$color-background-hr: $color-silver;

/// Abbreviations.
$color-border-abbr: $color-dove-gray;

/// Box shadows.
$color-box-shadow: rgba($color-black, 0.5);

/// Overlays.
$color-overlay: rgba($color-black, 0.3);

//-----------------------------------------
// Accessibility
//-----------------------------------------

/// Screen reader background color.
$color-background-screen-reader: $color-whitesmoke;

/// Screen reader text color.
$color-text-screen-reader: $color-blue;

//-----------------------------------------
// Links
//-----------------------------------------

/// Links.
$color-link: $color-blue;

/// Visited Links.
$color-link-visited: $color-blue;

/// Hovered Links.
$color-link-hover: $color-blue;

/// Focus LInks.
$color-link-focus: $color-blue;

//-----------------------------------------
// Forms
//-----------------------------------------

/// Button background.
$color-background-button: $color-blue;

/// Button background on hover.
$color-background-button-hover: $color-light-blue;

/// Button text.
$color-text-button: $color-white;

/// Input border.
$color-border-input: $color-silver;

/// Input focused color.
$color-focus-text-input: $color-cod-gray;

/// Input text.
$color-text-input: $color-dove-gray;

//-----------------------------------------
// Buttons
//-----------------------------------------

/// CTA Link Color.
$color-cta-link: $color-white;

//-----------------------------------------
// Tables
//-----------------------------------------

/// Table borders.
$color-border-table: $color-silver;

//-----------------------------------------
// Modals
//-----------------------------------------

/// Modal Content Background.
$color-background-modal: $color-white;

/// Modal Close Background.
$color-background-modal-close: $color-black;

/// Modal Close Colors.
$color-modal-close: $color-white;

//-----------------------------------------
// Icons
//-----------------------------------------

/// Close Icon Background.
$color-background-icon-close: $color-white;

/// Down Arrow Background Color.
$color-background-down-arrow: $color-white;

//-----------------------------------------
// Comments
//-----------------------------------------

/// Comment border.
$color-border-comment: $color-silver;

/// Comment focus border.
$color-border-comment-focus: $color-mineshaft;

/// Comment even background.
$color-background-even: $color-gallery;

/// Comment response background.
$color-comment-response: $color-white;

/// Comment meta links.
$color-meta-links: $color-tundora;

/// Comment post author background.
$color-background-author: $color-light-yellow;

//-----------------------------------------
// WP/Gutenberg Blocks
//-----------------------------------------

/// Block button background.
$color-background-block-button: $color-mineshaft;

/// BLock pullquote.
$color-border-block: $color-silver;

//-----------------------------------------
// Navigation Variables
//-----------------------------------------

/// Mobile menu link.
$color-mobile-menu-link: $color-white;

/// Hamburger background.
$color-background-hamburger: $color-cod-gray;

/// Off-canvas Container Background.
$color-background-off-canvas: $color-cod-gray;

/// Off-canvas Screen Background.
$color-background-off-canvas-screen: $color-black;

/// Submenu Background.
$color-background-submenu: $color-white;

//-----------------------------------------
// Scaffolding
//-----------------------------------------

/// Scaffolding header border.
$color-border-scaffolding: $color-alto;

/// Scaffolding swatch border.
$color-border-scaffolding-swatch: $color-alto;

/// Scaffolding color.
$color-scaffolding: $color-alto;

/// Scaffolding background color.
$color-background-scaffolding: $color-white;

//-----------------------------------------
// Sass Map for Theme Colors
//-----------------------------------------

/// Sass map used for creating color presentational classes.
$theme-colors: (alto: $color-alto,
black: $color-black,
blue: $color-blue,
cod-gray: $color-cod-gray,
dove-gray: $color-dove-gray,
gallery: $color-gallery,
gray-alt: $color-gray-alt,
gray: $color-gray,
light-yellow: $color-light-yellow,
mineshaft: $color-mineshaft,
silver-chalice: $color-silver-chalice,
silver: $color-silver,
tundora: $color-tundora,
white: $color-white,
whitesmoke: $color-whitesmoke);

//-----------------------------------------
// Sass Map for Social Media Colors
//-----------------------------------------

/// Social media `$social-colors()` map
$social-colors: (facebook-square: $color-facebook,
facebook: $color-facebook,
instagram-square: $color-instagram,
instagram: $color-instagram,
linkedin-square: $color-linkedin,
linkedin: $color-linkedin,
pinterest-square: $color-pinterest,
pinterest: $color-pinterest,
rss-square: $color-rss,
rss: $color-rss,
twitter-square: $color-twitter,
twitter: $color-twitter,
youtube-square: $color-youtube,
youtube: $color-youtube);
